body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff; 
    border-radius: 8px;
}


h1 {
    color: #d35400; 
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #d35400;
    padding-bottom: 10px;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: 20px;
    color: #777;
    margin-top: 40px;
    padding: 20px;
}


strong {
    color: #d35400;
}